@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: black;
  list-style: none;
  text-decoration: none;
}

header {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 60%;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  list-style: none;
  color: white;
  cursor: pointer;
  font-size: 19px;
  transition: 0.5s;
  font-family: "Kdam Thmor Pro", sans-serif;
}

li:hover {
  color: #d21617;
}

#logo {
  width: 150px;
  height: auto;
}

img {
  background-size: cover;
  display: flex;
  align-items: center;
}

.img:hover {
  transform: scale(1.2);
}

p {
  color: aliceblue;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span {
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
}

button {
  width: 100px;
  height: 40px;
  background-color: #d21617;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 25px;
}

button:hover {
  background-color: #fff;
  color: black;
}

textarea {
  background-color: aliceblue;
  color: black;
  align-items: center;
}

.footer-navigation {
  display: none;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-navigation {
    display: block;
  }
  nav {
    display: none;
  }
  #banner {
    background-position: 40%;
  }
}
